.amplfaz{
    display: flex;
    justify-content: space-between;
}

.cht{
    display: flex;
    justify-content: space-around;
    margin: 50px;
}

h1{
    text-align: center;
}

h2{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content:space-around;
}

#progress{
    width: 90vw;
    margin-left: 5vw ;
    margin-bottom: 10px;
}